.PostCategoryHeader{
    display: flex;
    justify-content: center;
    margin: .5em 0 1em;
    .postTo {
      small {
        font-size: 100%;
        color: #666;
        .smallLabel {
          color: #333;
          font-weight: bold;
        }
      }
    }

  }
  