.TagList {
    ul.VerticalMenu {
        a {
            padding: 0 0.4rem;
            line-height: 1.5;
            color: inherit;
        }
    }
}

.TagList__horizontal {
    margin-bottom: 0.5rem;
    a {
        display: inline-block;
        margin: 0.1rem 0.4rem 0.1rem 0;
        padding: 0.2rem 0.5rem;
        border-radius: 0.3rem;
        transition: 0.2s all ease-in-out;
        @include themify($themes) {
            // background: #f2652ebd;
            background: themed('backgroundColorEmphasis');
            color: themed('textColorPrimary');
            // color: white;
            border: themed('border');
        }
        &:hover {
            @include themify($themes) {
                background: themed('backgroundColor');
                color: themed('textColorPrimary');
                border: themed('borderDark');
            }
        }
    }
}
