.Voting {
    white-space: nowrap !important;
    span {
        white-space: nowrap !important;
    }
    .dropdown-pane {
        @include themify($themes) {
            border: themed('borderDark');
        }
    }
}

.Voting__button {
    .Icon {
        // Put the icon in a layer to improve rendering performance (scrolling especially)
        transform: translate3d(0, 0, 0);
    }
    path {
        fill: $dark-gray;
    }
    // circle {
    //     stroke: $dark-gray;
    // }
    > a:hover path {
        fill: $black;
    }
}

.Voting__about-flag {
    margin-right: 30px;
    .button {
        text-decoration: none;
        font-weight: bold;
        transition: 0.2s all ease-in-out;
        text-transform: capitalize;
        border-radius: 0;
        @include font-size(18px);
        @include themify($themes) {
            background-color: themed('buttonBackground');
            box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0),
                5px 5px 0 0 themed('buttonBoxShadow');
            color: themed('buttonText');
        }
        &:hover,
        &:focus {
            @include themify($themes) {
                background-color: themed('buttonBackgroundHover');
                box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1),
                    7px 7px 0 0 themed('buttonBoxShadowHover');
                color: themed('buttonTextHover');
                text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
            }
        }
        &:visited,
        &:active {
            @include themify($themes) {
                color: themed('buttonText');
            }
        }
    }
}

.Voting__button-up {
    .Icon {
        margin-left: 0;
        border-radius: 50%;
    }
    div > a {
        padding-right: 0.5rem;
    }
    > a {
        padding-right: 0.4rem;
    }
    path {
        @include themify($themes) {
            fill: themed('textColorAccent');
        }
    }
    // circle {
    //     @include themify($themes) {
    //         stroke: themed('textColorAccent');
    //     }
    // }
    // exclude small devices
    @media screen and (min-width: 39.9375em) {
        .Icon:hover {
            box-shadow: 0 0 0 rgb(232, 3, 68);
            animation: heartbeat 2s infinite;
        }
    }
    .close-button {
        position: fixed;
        margin-left: 1em;
    }
    > .dropdown-comp > .dropdown__content {
        position: absolute;
        top: -50px;
        left: -26px;
        @media screen and (max-width: 47.499em) {
            left: 0;
        }
    }
}

.Voting__button-up > a:hover,
a.confirm_weight:hover,a:focus, a.confirm_weight:focus {
    // filter: red;
    // filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
    background-image: ('assets/icons/heart.svg');
    // path {
    //     fill: red;
    //     stroke: black;
    // }
    // circle {
    //     @include themify($themes) {
    //         fill: themed('colorAccent');
    //         stroke: themed('colorAccent');
    //     }
    // }
    // svg {
    //     background-size: cover;
    //     background-image: ('../../assets/icons/heart.svg');
    //     // background-color: red;
    //     // border-radius: 90%;
    //     color: red;
    //     fill:red;
    //     path {
    //         fill: red;
    //         color: black;
    //     }
    // }
}

.Voting__button-up.votingUp {
    padding-right: 0.5rem;
    svg {
        border: 1px solid red;
        border-radius: 50%;
        border-right-color: transparent;
        border-top-color: transparent;
        animation: loading 500ms infinite linear;
    }
}

.Voting__button-down.votingDown svg {
    border: 1px solid $color-red;
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    animation: loading 500ms infinite linear;
}

.Voting__button-down {
    margin-right: 0.5rem;
    .Voting__button-downvotes {
        color: #aaa;
        font-size: 80%;
        vertical-align: 15%;
        padding-right: 0.1rem;
        cursor: default;
    }

    a path {
        fill: #f99;
    }
    // a circle {
    //     stroke: #f99;
    // }
    // a:hover circle {
    //     fill: #f66;
    // }
    a:hover path {
        fill: #f99;
    }

    &.Voting__button--downvoted {
        a path {
            fill: #fff;
        }
        // a circle {
        //     fill: #f99;
        // }
        // a:hover circle {
        //     fill: #f66;
        // }
    }
}

.Voting__button--upvoted {
    .Icon:hover {
        animation:  heartbeat 2s infinite !important;
    }
    path {
        fill: red !important;
    }
}

// .Voting__button--upvoted circle {
//     @include themify($themes) {
//         fill: themed('colorAccent');
//         stroke: themed('colorAccent');
//     }
// }

.Voting__button--upvoted a:hover path {
    // fill: rgb(223, 208, 209) !important;
    // border: red !important;
    // stroke: red !important;
    // animation: heartbeat 2s;
}

// .Voting__button--upvoted a:hover circle {
//     @include themify($themes) {
//         fill: themed('colorAccentHover');
//         stroke: themed('colorAccentHover');
//     }
// }

.Voting__button--downvoted path {
    fill: $color-red;
}

.Voting .DropdownMenu ul {
    width: auto;
    min-width: 260px;
    max-width: 360px;

    li > a {
        padding: 0 0.5rem;
        line-height: 1.25;
    }

    li > span {
        padding: 0 0.5rem;
        line-height: 1.25;
    }
}

.DropdownMenu.Voting__voters_list ul {
    left: -60px;
    li > a {
        //font-weight: 200;
    }

    li > span {
        padding: 0.25rem 0.5rem;
        font-size: 82.5%;
        display: block;
        @include themify($themes) {
            color: themed('textColorSecondary');
        }
    }
}

.Voting__inner {
    @include themify($themes) {
        border-right: themed('borderLight');
    }
    padding-right: 0.5rem;
    margin-right: 0.6rem;
    .DropdownMenu .Icon.dropdown-arrow {
        margin-right: -0.5rem;
        position: relative;
        top: 2px;
    }
    .cancel {
        font-size: 80%;
        padding: 0 0.4em;
        margin-left: 0.5rem;
        margin-right: 2px;
        background-color: #f8f8f8;
        border-radius: 50%;
        border: 1px solid #dadada;
        color: #8a8a8a;
    }
}

.Voting__adjust_weight_down {
    @extend .Voting__adjust_weight;

    @include themify($themes) {
        background-color: themed('backgroundColor');
    }

    right: 0;
    width: auto !important;
    max-width: 500px;

    div.clear {
        clear: both;
    }
    p,
    span {
        white-space: normal !important;
    }
    .weight-display {
        color: $color-red !important;
    }
    .rangeslider {
        margin-right: 2rem;
    }
}

.Voting__adjust_weight {
    padding: 20px 20px 20px;
    margin-right: 10px;
    width: 350px;
    min-width: 320px;
    overflow: hidden;
    .Icon:hover {
        animation: none !important;
    }
    .weight-display {
        width: 3rem;
        float: left;
        margin-right: 0.5rem;
        text-align: right;
        color: $dark-gray;
        line-height: 2.6rem;
    }
    .voting-power-display {
        // float: right;
        color: $dark-gray;
        // margin-top: 30px;
    }

    a.confirm_weight {
        float: left;
        width: 2rem;
        height: 2rem;
        line-height: 2.6rem;
    }
    .rangeslider {
        position: relative;
        float: left;
        background: #e6e6e6;
        .rangeslider__fill,
        .rangeslider__handle {
            position: absolute;
        }
        &,
        .rangeslider__fill {
            display: block;
            box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
        }
        .rangeslider__handle {
            background: #fff;
            border: 1px solid #ccc;
            cursor: pointer;
            width: 30px;
            height: 30px;
            border-radius: 30px;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
            &:active {
                background: $color-orange;
                box-shadow: none;
            }
        }
    }
    .rangeslider-horizontal {
        height: 10px;
        width: 200px;
        background: none;
        float: left;
        margin-top: 18px;
        .rangeslider__fill {
            height: 100%;
            background: $color-orange;
            box-shadow: none;
            left: 0;
        }
    }
    .Voting__adjust_weight_close {
        position: static;
        line-height: 2.6rem;
        font-size: 2rem;
        margin-left: 1rem;
    }
}

@media screen and (max-width: 39.9375em) {
    .Voting__button-up {
        .dropdown-pane {
            margin-top: -36px;
            position: absolute;
            left: 1rem;
        }
    }
}

/* Medium and bigger */
@media screen and (min-width: 39.9375em) {
    .Voting__button-up {
        display: inline-block;
        position: relative;
        .dropdown-pane {
            top: -18px;
            left: -28px;
        }
    }
}

/* Pulse for upvote action */
@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(6, 214, 169, 2);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(6, 214, 169, 1);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(6, 214, 169, 1);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(6, 214, 169, 2);
        box-shadow: 0 0 0 0 rgba(6, 214, 169, 2);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(6, 214, 169, 0);
        box-shadow: 0 0 0 10px rgba(6, 214, 169, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(6, 214, 169, 0);
        box-shadow: 0 0 0 0 rgba(6, 214, 169, 0);
    }
}

.weight-container {
    min-width: 300px;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 2px;
}

#weight-10 {
    font-size: x-small;
    font-weight: bolder;
    color: white;
    background-color: #ffb380;
}
#weight-25 {
    font-size: x-small;
    font-weight: bolder;
    color: white;
    background-color: #ff9955;
}
#weight-50 {
    font-size: x-small;
    font-weight: bolder;
    color: white;
    background-color: #ff7f2a;
}
#weight-75 {
    font-size: x-small;
    font-weight: bolder;
    color: white;
    background-color: #ff6600;
}
#weight-100 {
    font-size: x-small;
    font-weight: bolder;
    color: white;
    background-color: #f2652e;
}
#btn_group {
    margin-left: 60px;
}
#btn_group button {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px !important;
    cursor: pointer;
}
#btn_group button:hover {
    color: white;
    background-color: #fad2b8;
}

#btn_group button:focus {
    outline: none;
}

.votersListModal .reveal {
    // box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1), 7px 7px 0 0 $color-orange;
    border-radius: 0;
    width: 350px;
    height: 300px;
    border: transparent;
    transition: 0.2s all ease-in-out;
    @include themify($themes) {
        background-color: themed('modalBackgroundColor');
        color: themed('modalTextColorPrimary');
    }
    .button {
        @extend .e-btn;
        @extend .e-btn--black;
        min-width: 100px;
    }
    h4 {
        font-weight: bold;
    }
}

.votersListModal .reveal > .close-button {
    margin-top: 1rem;
    font-size: 2rem;
}

@media screen and (max-height: 768px) {
    // .votersListModal .reveal
    .voters-list > ul {
        overflow-y: auto;
        height: 120px;
    }

    .votersListModal .reveal {
        min-height: 220px;
        height: 250px;
    }
}

@media screen and (min-height: 769px) {
    // .votersListModal .reveal
    .voters-list > ul {
        overflow-y: auto;
        height: 140px;
    }

    .votersListModal .reveal {
        min-height: 290px;
        height: 320px;
    }
}

@media screen and (max-width: 39.9375em) {
    .votersListModal.reveal {
        min-height: 220px;
        height: 290px;
        width: 350px !important;
        margin-right: auto;
        margin-left: auto;
        top: 25%;
    }
}

@media screen and (min-width: 39.9376em) {
    .votersListModal.reveal {
        width: 350px !important;
        margin-right: auto;
        margin-left: auto;
        top: 30%;
    }
}

a.confirm_weight:focus span.Icon.heart-outline,
a.confirm_weight:hover span.Icon.heart-outline {
    display: none !important;
}

a.confirm_weight:hover span.Icon.heart,
a.confirm_weight:focus span.Icon.heart {
    display: inline-block !important;
}

a.confirm_weight span.Icon.heart {
    display: none !important;
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( .85 );
  }
  20%
  {
    transform: scale( 1.2 );
  }
  40%
  {
    transform: scale( .85 );
  }
  60%
  {
    transform: scale( 1.2 );
  }
  80%
  {
    transform: scale( .85 );
  }
  100%
  {
    transform: scale( .85 );
  }
}

.Voting__button--upvoted:hover a#upvote_button span.Icon.heart {
    display: none !important;
}

.Voting__button--upvoted a#upvote_button span.Icon.heart-broken {
    display: none !important;
}

.Voting__button--upvoted:hover a#upvote_button span.Icon.heart-broken {
    display: inline-block !important;
}