.Author {
    cursor: pointer;
    display: inline-block;

    .dropdown-arrow {
        position: relative;
        top: 3px;
        left: -2px;
    }
    .Icon.dropdown-arrow polygon {
        transition: 0.3s all ease-in-out;
    }
    &:hover {
        .Reputation,
        .dropdown-arrow {
            @include themify($themes) {
                color: themed('textColorAccent');
            }
        }
        .Icon.dropdown-arrow polygon {
            @include themify($themes) {
                fill: themed('textColorAccent');
            }
        }
    }
}

span.affiliation-edit {
    margin: 0 0.25rem 0 0.5rem;
    padding: 0;
}

.Icon_0_8x > svg, span.Icon_0_8x {
    width: 0.8rem;
    height: 0.8rem;
    fill: $color-text-gray;
    vertical-align: unset;
    padding-top: 0.15rem;
}