$color-white: #fff;
$color-black: #000;
$color-red: #ff0264;
$color-blue: #004eff;
$color-blue-original-dark: #1a5099;
$color-blue-original-light: #4ba2f2;
$color-blue-black: #171f24;
$color-blue-black-darkest: #11161a;
$color-blue-dark: #2c3a45;
$color-teal: #06d6a9;
$color-teal-light: #00ffc8;
$color-teal-dark: #049173;
$color-orange: #f2652e;
$color-orange-light: #ff7842;
$color-orange-dark: #fb5b1b;

$color-yellow: #fce76c;
$color-transparent: transparent;

$color-background-almost-white: #fefefe;
$color-background-off-white: #fafbfc;
$color-background-dark: #1c252b;
$color-background-super-dark: #10151b;

$color-text-dark: #333;
$color-text-white: #fafbfc;
$color-text-blue: #004eff;
$color-text-gray: #788187;
$color-text-gray-light: #a6b2ba;
$color-text-teal: #1fbf8f;
$color-text-orange: #f2652e;
$color-text-red: $color-red;

$color-border-light: #eee;
$color-border-light-lightest: #f6f6f6;
$color-border-dark: #232f38;
$color-border-dark-lightest: #2b3a45;

// $font-primary: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-primary: 'Roboto', 'Nunito', sans-serif;

$alert-color: $color-red;

$theme-map: null;
