.LoginForm {
    color: $color-text-dark;
    max-width: 28rem;
    margin: 1rem auto 0.5rem auto;
    label {
        text-transform: none;
        color: $color-text-dark;
    }
    form {
        margin-top: 1.5rem;
    }
}
.pdf-download {
    margin-top: 1em;
    margin-bottom: 1em;
    button {
        color: #1a5099;
        text-transform: initial;
        cursor: pointer;
    }
}
.sign-up {
    .button {
        background-color: transparent;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1.2rem;
        text-transform: none;
    }
    .button.hollow {
        border: 1px solid #ddd;
        color: $color-blue-black;
        transition: 0.2s all ease-in-out;
        @include font-size(16px);

        &:hover {
            border: 1px solid $color-orange-dark;
            color: $color-orange-dark;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
        }
    }
    em {
        font-weight: bold;
        font-style: normal;
    }
    hr {
        margin: 1.75rem auto 2rem auto;
    }
    p {
        margin-bottom: 1rem;
    }
}

.LoginForm__save-login {
    margin-top: 0.5rem;
}

.button.block-button {
    background-color: $color-blue-black;
    box-shadow: 0px 0px 0px 0 rgba(0,0,0,0), 2px 2px 0px 0px $color-orange;
    color: $color-text-white;
    margin: 0 15px 1rem 0;
    padding: 0.85em 1em;
    text-transform: none;
    font-size: 1.125rem;
    border-radius: unset;
}

.button.block-button:hover {
    background-color: $color-orange;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,.1), 4px 4px 0 0 $color-blue-black;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
}