<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png?v=4">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png?v=4">
<link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/android-chrome-192x192.png?v=4">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png?v=4">
<link rel="manifest" href="/images/favicons/site.webmanifest?v=4">
<link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg?v=4" color="#da532c">
<link rel="shortcut icon" href="/images/favicons/favicon.ico?v=4">
<meta name="apple-mobile-web-app-title" content="Blurt Blog">
<meta name="application-name" content="Blurt Blog">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/images/favicons/mstile-144x144.png?v=4">
<meta name="msapplication-config" content="/images/favicons/browserconfig.xml?v=4">
<meta name="theme-color" content="#da532c">