.NotificationsContainer {
    clear: right;
}

.flex-row {
    flex-direction: row;
    display: flex;
}

.flex-column {
    flex-direction: column;
    display: flex;
}

.flex-body {
    display: flex;
}

.notification__item {
    max-width: 48rem;
    align-items: center;
    padding: 0.5em 1rem;
    position: relative;
    margin: auto;
    @include themify($themes) {
        border-bottom: themed('border');
        border: 1px solid #eee;
    }

    .notification__unread {
        position: absolute;
        right: 1em;
        top: 0.75em;
        font-size: 2em;
        @include themify($themes) {
            color: themed('textColorAccent');
        }
    }

    .Userpic {
        margin: 0 1em;
    }

    .Icon {
        margin-right: 0.25em;
        @include themify($themes) {
            fill: themed('textColorSecondary');
            path {
                fill: themed('textColorSecondary');
            }
            circle {
                stroke: themed('textColorSecondary');
            }
        }
    }

    .notification__date {
        font-size: 0.9em;
        opacity: 0.8;
        @include themify($themes) {
            color: themed('textColorSecondary');
        }
    }

    .notification__message {
        padding-bottom: 0.5em;
        padding-right: 0.5em;
    }
}

.notification__filter {
    padding: 0 5px 0 5px;
    border-right: 1px solid #ababab;
}

.notification__filter:last-child {
    border-right: 0;
}

.notification__filter.hide {
    display: none;
}

.notification__filter.selected {
    font-weight: bold;
}
